<div class="heading">
<h1>ZANDD Book keeping Application</h1>
   <div class="hamburgerToggle">
      <a href="javascript:void(0);" class="icon" onclick="toggleNewsBar()">
         <i class="fa fa-bars"></i>
         <span class="tooltiptext">Show/hide  Sidebar</span>
      </a>
   </div>
</div>