<head>

  <title>ZANDD Books</title>
  
  <meta charset="utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="bookkeeping Site Zandd">
  <meta name="author" content="Daniel S. A. KHan">
  <meta name="robots" content="all">
  
  <!-- Custom styles for this template -->
  <link href="/css/zanddbooks.css" rel="stylesheet">	
  <script src="/js/jspdf/pdf.js"></script>
  <script src="/js/items_Scripts.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
</head>