<div class="navbar">
   <h4>View Data</h4>
   <hr>
   <a href="/zndLedger">Company Ledger</a><br>
   <a href="/Expenses">Expenses</a><br>   
   <a href="/employeesList">Employees</a><br>
   <a href="/compagnyList">Companies</a><br>
   <a href="/zndLedgerAccountCatagories">Ledger Accounts</a><br>
   <a href="/zndBookKeepersLedgers">Bookkeepers Ledgers</a><br>
   <a href="/zndPaymentCategories">Payment Categories</a><br>
   <a href="/zndEmailAddresses">E-mail Addresses</a><br>
   <a href="/zndSentStatements">Sent Statements</a><br>
   <a href="/zndDashboard">Dashboard</a><br>
   

   <h4>Create Data</h4>
   <hr>
   <a href="/zndStatements" target="_blank">Statements</a><br>
   <a href="/zndEmployees">Employees</a><br>
   <a href="/zndCompagny">Company</a><br>
   <a href="/zndLedgerAccountCategory">Ledger name</a><br>
   <a href="/zndBookKeepersLedger">Bookkeepers Ledger</a><br>
   
   <a href="/zndPaymentCategory">Payment Category</a><br>
   <a href="/zndEmailAddress">E-mail Address</a><br>
   

   <h4>Import/Export Data</h4>
   <hr>
   <a href="/zndLoadCodaFiles">Load CODA Files</a><br>   
   <a href="/zndPrintStatement">Print Satement</a><br>   
   
   
   <h4>Search Data</h4>
   <hr>
   <a href="/search">Search</a><br>
   
   
   <h4>Dead Weight</h4>
   <hr>
   <a href="/manageDeadWeight">Manage Dead Weight</a><br>
   

   <div style="position:absolute;bottom:20%">
      <h4>Navigate Site</h4>
      <hr>
      <a href="/">Home</a><br>
      <a href="/zndStatements2" target="_blank">Statements New</a><br>
   		<a href="/about">About</a><br>
   </div>
</div>
